body{
    margin: 0;
    padding: 0;
    background: black;

}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 60px;
    background: url(clock1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.clock::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);   /*-50% on x axis and on y axis */
    z-index: 4;
}

#second{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
}
#minute{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}
#hour{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#second::before{
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 1px;
    height: 100px;
    background: red;
    transform: translate(-50%,-100%);
    
}

#minute::before{
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 2px;
    height: 120px;
    background: gray;
    transform: translate(-50%,-100%);
    
}

#hour::before{
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 4px;
    height: 80px;
    background: darkgray;
    transform: translate(-50%,-100%);
    
}